extends ../layout/main
block stylesheets
  link(rel='stylesheet', href='/stylesheets/bootstrap-chosen.css')
  link(rel='stylesheet', href='/libs/froala-editor/css/froala_editor.pkgd.min.css')
  link(rel='stylesheet', href='/libs/froala-editor/css/froala_style.min.css')
block scripts
  script(src='/javascripts/bootstrap-chosen.js')
  script(src='/libs/froala-editor/js/froala_editor.pkgd.min.js')
  script.
    $(function() {
    $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    $('.chosen-status').chosen({ allow_single_deselect: true, disable_search: true });
    });
  script(type='text/javascript').
    $('#post-content-editor').froalaEditor({
    heightMin: 280,
    // Button show xs
    toolbarButtonsXS: ['bold', 'italic', 'underline', 'fontFamily', 'fontSize', '-', 'insertTable', 'insertImage', 'undo', 'redo'],
    // Set the image upload URL.
    imageUploadURL: '/media/upload_image',
    // Load all images from folder
    imageManagerLoadURL: '/media/load_images'
    });
block content
  .row
    .col-lg-12
      .box.dark
        header
          .icons
            i.fa.fa-edit
          h5 #{title}
          // .toolbar
          .toolbar
            nav(style='padding: 8px;')
              a.btn.btn-danger.btn-xs.close-box(href='javascript:;')
                i.fa.fa-times
          // /.toolbar
        #div-1.body.collapse.in(aria-expanded='true', style='')
        form.form-horizontal(method='POST', action='/post/create', style="padding: 0 15px;")
          ul.nav.nav-tabs
            li.active
              a(data-toggle='tab', href='#post-content') Nội dung bài viết
            li
              a(data-toggle='tab', href='#seo') SEO
          .tab-content
            #post-content.tab-pane.in.active
              h3 Thông tin chung
              .form-group
                .col-lg-6
                  label.control-label(for='title') Tiêu đề
                .col-lg-6
                  label.control-label(for='categoryId') Danh mục
                .col-lg-6
                  input#categoryId.form-control(type='text', name='title', placeholder='Tiêu đề')  
                .col-lg-6
                  select.chosen-select-deselect(name='categoryId', data-placeholder='Select Category', style='width: 100%;')
                    option(value=null)
                    each cat in categories
                      option(value=cat._id) #{cat.categoryName}
                      if (cat.children.length > 0)
                        each child in cat.children
                          option(value=child._id) - #{child.categoryName}
                          if (child.children.length > 0)
                            each c in child.children
                              option(value=c._id) -- #{c.categoryName}
              .form-group
                .col-lg-6
                  label.control-label(for='image') Hình ảnh
                  input.form-control(type='file', name='image')
                .col-lg-6
                  label.control-label(for='image') Mô tả
                  textarea#description.form-control(name='description', rows="3")
              .form-group
                .col-lg-12
                  label.control-label(for='image') Nội dung bài viết
                  textarea#post-content-editor(name='content')
              .form-group
                .col-lg-6
                  label.control-label(for='status') Status
                .col-lg-6
                  select.chosen-status(name='status', data-placeholder='Status', style='width: 100px;')
                    option(value=1) Public
                    option(value=2) Draft
            #seo.tab-pane
              h3 Thông tin SEO
              .form-group 
                .col-lg-6
                  label.control-label(for='alias') Seo Url
                  input#text1.form-control(type='text', name='alias', placeholder='Alias')
          .form-group  
              .col-lg-12
                input#submit.btn.btn-success(type='submit', text='Submit')