extends ../layout/main
block stylesheets
	link(rel='stylesheet', href='/libs/froala-editor/css/froala_editor.pkgd.min.css')
	link(rel='stylesheet', href='/libs/froala-editor/css/froala_style.min.css')
	link(rel='stylesheet', href='/libs/cropperjs/dist/cropper.min.css')
	link(rel='stylesheet', href='/libs/magnific-popup/dist/magnific-popup.css')
	link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
	link(rel='stylesheet', href='/libs/jquery-tags-input/dist/jquery.tagsinput.min.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-chosen.css')
	link(rel='stylesheet', href='/stylesheets/my-cropper.css')
block scripts
	script(src='/libs/froala-editor/js/froala_editor.pkgd.min.js')
	script(src='/libs/cropperjs/dist/cropper.min.js')
	script(src='/libs/magnific-popup/dist/jquery.magnific-popup.min.js')
	script(src='/javascripts/jquery-ui.min.js')
	script(src='/libs/jquery-tags-input/dist/jquery.tagsinput.min.js')
	script(src='/javascripts/bootstrap-chosen.js')
	script(src='/javascripts/my-cropper.js')

	script.
		$(function() {
		$('.chosen-select-deselect').chosen({ allow_single_deselect: true });
		$('.chosen-status').chosen({ allow_single_deselect: true, disable_search: true });
		});
	script(type='text/javascript').
		$('#productInfo-editor, #product-instruction').froalaEditor({
		heightMin: 280,
		// Button show xs
		toolbarButtonsXS: ['bold', 'italic', 'underline', 'fontFamily', 'fontSize', '-', 'insertTable', 'insertImage', 'undo', 'redo'],
		// Set the image upload URL.
		imageUploadURL: '/media/upload_image',
		// Load all images from folder
		imageManagerLoadURL: '/media/load_images'
		});
	script(type='text/javascript').
		var productCropper = new myCropper({ 
			selector : '#product-image',
			uploadDir: '/media/images/',
			prefixFileName: 'product',
			multiple: true,
			toolbars: [
				'crop',
				'zoomIn',
				'zoomOut',
				'rotateLeft',
				'rotateRight',
				'submitCrop'
			],
			clientOptions: {
				aspectRatio: 4 / 3,
				viewMode: 1,
				cropBoxResizable: false,
				minContainerWidth: 600,
				minContainerHeight: 400,
			}
		});
		$('#product-form').submit(function(){
			$('#product-image').remove();
		});
block content
	.row
		.col-lg-12
			.box.dark
				header
					.icons
						i.fa.fa-plus
					h5 #{title}
					// .toolbar
					.toolbar
						nav(style='padding: 8px;')
							a.btn.btn-danger.btn-xs.close-box(href='javascript:;')
								i.fa.fa-times
					// /.toolbar
				#div-1.body.collapse.in(aria-expanded='true', style='')
				form#product-form.form-horizontal(method='POST', action='/product/create', style="padding: 0 15px;")
					ul.nav.nav-tabs
						li.active
							a(data-toggle='tab', href='#product-content') Thông tin chính
						li
							a(data-toggle='tab', href='#detail') Chi tiết
						li
							a(data-toggle='tab', href='#seo') SEO
					.tab-content
						#product-content.tab-pane.in.active
							h3 Thông tin chung
							.form-group
								.col-lg-6(class=errors && errors.productName && 'has-error')
									label.control-label(for='productName') Tên sản phẩm
									input#product-name.form-control(type='text', name='productName', placeholder='Tên sản phẩm', value=data && data.productName, onkeyup='genSlug($(this).val(), "#product-slug");') 
									if errors && errors.productName
										.help-block #{errors.productName.msg}
								.col-lg-6(class=errors && errors.categoryId && 'has-error')
									label.control-label(for='categoryId', style='display: block; text-align: left;') Danh mục
									select.chosen-select-deselect(name='categoryId', data-placeholder='Select Category', style='width: 100%;')
										option(value=null)
										each cat in categories
											option(value=cat._id, selected=(data && data.categoryId === cat._id.toString()) ? true : false) #{cat.categoryName}
											if (cat.children.length > 0)
												each child in cat.children
													option(value=child._id, selected=(data && data.categoryId === child._id.toString()) ? true : false) - #{child.categoryName}
													if (child.children.length > 0)
														each c in child.children
															option(value=c._id, selected=(data && data.categoryId === c._id.toString()) ? true : false) -- #{c.categoryName}
									if errors && errors.categoryId
										.help-block #{errors.categoryId.msg}
							.form-group
								.col-lg-6(class=errors && errors.image && 'has-error')
									label.control-label(for='image') Hình ảnh
									if data && data.image
										label.custom-file-upload(for='product-image', style='display: none;')
											i.fa.fa-cloud-upload
										input#product-image.mycropper-browse-file(type='file', name='image', disabled=true)
										input#imagefilename(type='hidden', name='image', value=data.image)
										.images-preview
											- var images = data.image.split(',')
											for img in images
												.preview-item
													span.btn.btn-danger.btn-xs.remove-image
														i.fa.fa-trash
													img.image-cropped-preview(src='/media/images/' + img)
									else
										label.custom-file-upload(for='product-image')
											i.fa.fa-cloud-upload
										input#product-image.mycropper-browse-file(type='file', name='image')
										//- input#post-image.form-control(type='file', name='image')
									if errors && errors.image
										.help-block #{errors.image.msg}
								.col-lg-6(class=errors && errors.description && 'has-error')
									label.control-label(for='image') Mô tả ngắn gọn
									textarea#description.form-control(name='description', rows="3") #{data && data.description}
									if errors && errors.description
										.help-block #{errors.description.msg}
							.form-group
								.col-lg-12(class=errors && errors.productInfo && 'has-error')
									label.control-label(for='productInfo') Thông tin về sản phẩm
									textarea#productInfo-editor(name='productInfo') #{data && data.productInfo}
									if errors && errors.productInfo
										.help-block #{errors.productInfo.msg}
							.form-group
								.col-lg-6
									label.control-label(for='status', style='display: block; text-align: left;') Status
									select.form-control.chosen-status(name='status', data-placeholder='Status', style='width: 100px;')
										option(value=1, selected=(data && data.status === 1) ? true : false) Public
										option(value=0, selected=(data && data.status === 0) ? true : false) Draft
								.col-lg-6
									label.control-label(for='isBestSeller') Sản phẩm bán chạy
									.checkbox
										label
											input(type='checkbox', name='isBestSeller', value=1)
											| Bán chạy
						#detail.tab-pane
							h3 Chi tiết sản phẩm
							.form-group 
								.col-lg-6
									label.control-label(for='alias') Giá
									input#product-price.form-control(type='number', step='0.01', name='price', placeholder='Price', value=data && data.price)
								.col-lg-6
									label.control-label(for='old price') Giá cũ
									input.form-control(type='number', step='0.01', name='oldPrice', placeholder='Old Price', value=data && data.oldPrice)
							.form-group 
								.col-lg-12
									label.control-label(for='instruction') Hướng dẫn sử dụng
									textarea#product-instruction.form-control(type='text', name='instruction', value=data && data.instruction)
							.form-group
								.col-lg-6
									label.control-label(for='madeIn') Xuất xứ
									input.form-control(type='text', name='madeIn', row='3', placeholder='Xuất xứ sản phẩm', value=data && data.madeIn)
						#seo.tab-pane
							h3 Thông tin SEO
							.form-group 
								.col-lg-6
									label.control-label(for='alias') Seo Url
									input#product-slug.form-control(type='text', name='alias', placeholder='Alias', value=data && data.alias)
								.col-lg-6
									label.control-label(for='seo') Seo Meta Title
									input.form-control(type='text', name='metaTitle', placeholder='Meta Title', value=data && data.metaTitle)
							.form-group 
								.col-lg-6
									label.control-label(for='seo') Seo Meta Desc
									textarea.form-control(type='text', name='metaDesc', row='3', placeholder='Meta Description', value=data && data.metaDesc)
								.col-lg-6
									label.control-label(for='seo') Seo Meta Keywords
									textarea.form-control(type='text', name='metaKeyWord', row='3', placeholder='Meta Keywords', value=data && data.metaKeyWord)
					.form-group  
							.col-lg-12
								input#submit.btn.btn-success(type='submit', text='Submit')