extends ../layout/main
block stylesheets
	link(rel='stylesheet', href='/stylesheets/jquery.dataTables-custom.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-chosen.css')
block scripts
	script(src='/javascripts/jquery.dataTables.min.js')
	script(src='/javascripts/bootstrap-chosen.js')
	script.
		$(function() {
		$('.chosen-select').chosen();
		$('#product-list').DataTable();
		});
block content
	.row
		.col-lg-12
			.box.dark
				header
					.icons
						i.fa.fa-table
					h5 #{title}
				.user-actions
					a.btn.btn-success(href='/product/create') Tạo mới
				table#product-list.table.table-responsive.display(cellspacing='0', width='100%')
					thead
						tr
							th.hidden-xs ID
							th Tên sản phẩm
							th Hình ảnh
							th Danh mục
							th.text-center Giá
							th.text-center Trạng thái
							th.text-center.no-sort
								em.fa.fa-cog
					tbody
						- var i = 1;
						each product in products
							tr
								td.hidden-xs #{i}
								td #{product.productName}
								td
									img.img-responsive(src='/media/images/' + product.image.split(',')[0], style='width: 128px;')
								td #{product.category.categoryName}
								td.text-center #{product.price}
								td.text-center #{product.status ? 'Public' : 'Draft'}
								td(align='center')
									a.btn.btn-default
										em.fa.fa-pencil
									a.btn.btn-danger
										em.fa.fa-trash